body.title-screen {
    background-image: url("public/assets/cyber-road.jpg");
    color: black;
}

.title-card {
    background-color: white;
    border: 2px solid black;
    top: 40%;
    left: 50%;
    width: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.title {
    font-size: 64px;
}

.subtitle {
    font-size: 32px;
}