body, html {
    height: 100%;
}

body {
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
}

.background-image {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    pointer-events: none
}
