body.title-screen {
    background-image: url("../assets/cyber-road.jpg");
    color: black;
}

.title {
    top: 40%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.title-card {
    background-color: white;
    border: 2px solid black;
}
