body {
    background-image: url("../assets/cyber-cars.jpg");
    color: white;
}
.continue-btn {
    position: fixed;
    display: block;
    bottom: 10%;
    right: 0;
    height: 14%;
    width: auto;
}
