body {
    background-image: url("../assets/cyber-cars.jpg");
    color: white;
}
.continue-btn {
    position: fixed;
    display: block;
    right: 7px;
    bottom: 15%;
    height: 14%;
    width: auto;
}
