body {
  background-image: url("../assets/cyber-cars.jpg");
  color: white;
}

.title-text {
  text-align: center;
  align-items: center;
}

.menu {
  text-align: center;
}

.row-1 {
  display: flex;
  align-items: center;
}
.row-1 > div {
  flex: 1 0 0%;
}

.row-1 > div > a {
  color: white;
  font-size: 1.75vw;
}

.row-1 > div > a > img {
  width: 250px;
  height: 250px;
}

.row-2 {
  display: flex;
  align-items: center;
  margin-top: 5%;
}
.row-2 > div {
  flex: 1 0 0%;
}

.row-2 > div > a {
  color: white;
  font-size: 1.75vw;
}

.row-2 > div > a > img {
  width: 250px;
  height: 250px;
}

img.menu-border {
  border: 4px solid white;
}

.home-btn {
  position: fixed;
  display: block;
  right: 7px;
  bottom: 7px;
  height: 14%;
  width: auto;
}
