body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.stage {
  width: 75%;
  height: 100%;
  right: 0;
  position: fixed;
  display: block;
  z-index: 1;
}

.stage > img#stage-image {
  pointer-events: none;
}

.dark {
  filter: brightness(30%);
}

.side-bar {
  position: fixed;
  display: block;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
}

.side-bar > span {
  margin-left: 5%;
}

.side-bar > button {
  margin-left: 5%;
  font-size: 20px;
}

.side-bar > p {
  font-size: 28px;
  margin-left: 5%;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.directions {
  font-size: 1.2vw;
}

.side-bar > span {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.side-bar > hr {
  color: white;
  width: 90%;
}

p#hint {
  display: none;
  font-size: 24px;
}

#hint {
  display: none;
  font-size: 24px;
}

.trigger-enabled {
  position: fixed;
  display: block;
  background: transparent;
  border: 2px solid red;
  color: transparent;
  cursor: pointer;
}

.trigger-disabled {
  position: fixed;
  display: block;
  background: transparent;
  border: none;
  color: transparent;
  cursor: unset;
}

.trigger-disabled:focus {
  outline: none;
}

.trigger-enabled:focus {
  outline: none;
}

.trigger-test {
  /* Used for testing trigger positions */
  position: fixed;
  display: block;
}

#home-btn {
  position: absolute;
  display: block;
  top: 1%;
  right: 1%;
  height: auto;
  width: 8%;
  cursor: pointer;
}

#hint-btn {
  position: absolute;
  display: block;
  top: 1%;
  right: 19%;
  height: auto;
  width: 8%;
  cursor: pointer;
}

#menu-btn {
  position: absolute;
  display: block;
  top: 1%;
  right: 10%;
  height: auto;
  width: 8%;
  cursor: pointer;
}

.hack-btn {
  margin-left: 20% !important;
  background-color: #3b80e7;
  border-radius: 10px;
  border: 3px solid #cccccc;
  color: #ffffff;
  text-align: center;
  width: 50%;
  padding: 4%;
  cursor: pointer;
}

/* Deny only */
.insert-password {
  position: fixed;
  display: none;
  width: 30%;
  height: 30%;
  top: 35%;
  right: 20%;
  background-color: #efebde;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
  border-color: #0054ef;
  border-width: 4px;
  border-style: solid;
}

.pass-top-bar {
  text-align: right;
  width: 100%;
  height: 10%;
  background-color: #0054ef;
  border-top-left-radius: 4% 40%;
  border-top-right-radius: 4% 40%;
}

.insert-password > div {
  display: block;
  align-items: center;
  text-align: center;
  color: black;
}

.insert-password > div > div > p {
  font-size: 42px;
}

#notepad {
  position: fixed;
  display: block;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 10%;
  z-index: 100;
  cursor: pointer;
}

#notepad-full {
  position: fixed;
  display: none;
  width: 45%;
  height: auto;
  top: 20%;
  right: 15%;
  pointer-events: none;
}

img.exit-notebook {
  position: absolute;
  display: block;
  width: 6%;
  height: auto;
  top: 2%;
  left: 93%;
  cursor: pointer;
  pointer-events: all;
}

#crash {
  position: fixed;
  display: none;
  top: 40%;
  right: 17%;
  height: 30%;
  width: 38%;
}

/* Degrade only */

#phone {
  position: fixed;
  display: block;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 10%;
  z-index: 100;
  cursor: pointer;
}

#phone-full {
  position: fixed;
  display: none;
  width: 30%;
  height: auto;
  top: 5%;
  right: 25%;
  pointer-events: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 2vw;
  color: white;
}

img.exit-phone {
  position: absolute;
  display: block;
  width: 5%;
  height: auto;
  top: 2%;
  left: 93%;
  cursor: pointer;
  pointer-events: all;
}

.screen {
  display: block;
  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
  top: 7%;
  font-size: 1.25vw;
  word-break: break-all;
  pointer-events: all;
}

.phone-input {
  background-color: black;
  color: white;
  border: 1px solid white;
}

/* Disrupt only */
#box-1 {
  position: fixed;
  display: none;
  width: 30%;
  height: auto;
  top: 25%;
  right: 23%;
  pointer-events: none;
}

#box-2 {
  position: fixed;
  display: none;
  width: 30%;
  height: auto;
  top: 25%;
  right: 23%;
  pointer-events: none;
}

.wire {
  display: block;
  pointer-events: all;
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
}

.wire:focus {
  outline: none;
}

.exit-box {
  position: absolute;
  display: block;
  width: 6%;
  height: auto;
  top: 15%;
  left: 93%;
  cursor: pointer;
  pointer-events: all;
}

/* Deceive only */
#phone-2 {
  position: fixed;
  display: block;
  bottom: 1%;
  right: 12%;
  height: 21%;
  width: auto;
  z-index: 100;
  cursor: pointer;
}

/* Destroy only */

#box-2-closed {
  display: block;
}

#box-2-open {
  display: none;
}

#box-1-closed {
  display: block;
}

#box-1-open {
  display: none;
}

.box-open {
  pointer-events: all;
}

.box-closed {
  pointer-events: all;
}

.switch {
  position: absolute;
  display: block;
  pointer-events: all;
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
}

.switch:focus {
  outline: none;
}

.box-riddle {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 12%;
  text-align: center;
}

.box-input {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 50%;
  text-align: center;
}

.open-box {
  margin-top: 0.5vw;
  background-color: #3b80e7;
  border-radius: 10px;
  border: 3px solid #cccccc;
  color: #ffffff;
  text-align: center;
  width: 30%;
  padding: 4%;
  cursor: pointer;
  font-size: 1.5vw;
}
