
body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.stage {
    width: 75.1%;
    height: 100%;
    position: fixed;
    display: block;
    z-index: 1;
}

.stage > img {
    pointer-events: none;
}

.dark {
    filter: brightness(30%); 
}

.side-bar {
    position: fixed;
    display: block;
    width: 25%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
}

.side-bar > span {
    margin-left: 5%;
}

.side-bar > p {
    font-size: 28px;
    margin-left: 5%;
}

.side-bar > hr {
    color: white;
    width: 90%;
}

p.hint {
    font-size: 14px;
}

.trigger {
    position: fixed;
    display: block;
    background: transparent;
    border: none;
    color: transparent;
}

.trigger:focus {
    outline: none;
}

.trigger-test { /* Used for testing trigger positions */
    position: fixed;
    display: block;
}

/* Deny only */
.insert-password {
    position: fixed;
    display: none;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 20%;
    background-color: black;
}

.insert-password > div {
    display: block;
    align-items: center;
    text-align: center;
    color: white;
}